.container-fluid.bg-primary{
  height: 100vh;
}

.col-contact, .col-project, .col-schedule, .col-tasks, .col-progress, .col-graph{
  padding: 2px;
}

.row.db-wrapper{
  height: 100vh;
}

.all-contact-cards, .all-project-cards, .all-tasks-cards, .all-progress-cards, .all-schedule-cards{
  margin: 6px;
  /* height: 100%; */
}

.contacts-card-body{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  margin: 8px;
}

#id_contact_card_body{
  display: flex;
}

.contact-card-body{
  display: flex;
  justify-content: center;
  margin: -10px;
}
.contact-card{
  margin: 4px;
  height: 120px;
}

.contact-card img{
  width: 80px;
}

.progress{
  margin: 8px;
  width: 100%;
}

.row.bottom{
  margin-top: 4px;
}

.all-contact-cards, .all-schedule-cards, .all-graph-cards{
  height: 100%;
}

.col-graph{
  height: 27vh;
  padding-left: 8px;
  padding-right: 6px;
}

#id_project_card_body{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.stat-line{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.all-project-cards, .all-contact-cards{
  height: 200px;
  overflow-y: scroll;
}