/* global */

.main-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.contacts {
  display: flex;
  width: 100%;
  height: 30%;
}

.users-2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;

}

.card-body{
  display: flex;
  justify-content: space-around;
}

.left-middle {
  display: flex;
  height: 20%;
  justify-content: space-between;
}

.performance {
  display: flex;
  width: 70%;
}

.performance-card {
  width: 100%;
}

.results {
  display: flex;
  width: 30%;
}

.stats-bar {
  display: flex;
  height: 50%;
  padding: 4px;
  padding-left: 12px;
}

.stats-bar-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 16px;
    border-radius: 16px;
}

.stats-card-header{
  display: flex;
  justify-content: space-between;
}

.stats-card-header .header {
    font-weight: bold;
    font-size: 16px;
}

.stats-bar-body{
   display: flex;
}

.stats-bar-body img{
  width: 90%;
  height: 80%;
}


.right-side {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.stats-call {
  display: flex;
  height: 30%;
}

.schedules {
  display: flex;
  height: 70%;
}
