aside,
.navbar,
.nav,
.container,
.lower-container,
.content,
.contacts-card,
.card-body,
.card-header,
.avatar {
    padding: 8px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(6, 2, 53);
}

.nav {
    margin: 16px;
}

.body {
    background-color: rgb(227, 249, 249);
    display: flex;
}

aside {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    width: 70px;
    height: 100dvh;
}

.main {
    background-color: rgb(227, 249, 249);
    display: flex;
    height: 100dvh;
    width: 100dvw;
}


.content {
    background-color: rgb(232, 240, 240, 0.5);
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    height: 100vh;
}

.navbar {
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
}

.user-greeting {
    display: flex;
}

.nav {
    display: flex;
}

.container {
    display: flex;
    height: 40vh;
}

.lower-container {
    display: flex;
    height: 60vh;

}

.users,
.stats-calls {
    display: flex;
    flex-direction: row;
}

.users {
    width: 70%;
    padding: 16px;
}

.stats-calls {
    width: 30%;
    padding: 16px;
}

.contacts-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-radius: 16px;
}

.card-header {
    display: flex;
    flex-direction: column;
}

.card-header .header {
    font-weight: bold;
    font-size: 16px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    display: flex;
    flex-direction: column;
    flex: 0 0 72px;
    height: 72px;
    width: 72px;
    border-radius: 12px;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    max-height: 100px;
    overflow-y: scroll;
    background-color: #332d52;
}

.avatar:hover {
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.4);
}

.avatar img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.avatar .name {
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.branding {
    width: 100%;
    height: 40px;
}

.logo {
    width: 100%;
    height: auto;
}

.primary-menu {
    padding-bottom: 32px;
}

.secondary-menu {
    padding-bottom: 100px;
}



aside ul li {
    padding: 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

ul li:hover,
ul li.active {
    border: 5px solid aliceblue;
    border-radius: 10%;
}


aside ul li img {
    width: 24px;
    height: auto;
}

.nav ul {
    display: flex;
    flex: 1 1 200px;
}

.nav ul li {
    padding: 12px;
}

.nav ul li {
    padding: 12px;
}

.nav ul li img {
    width: 24px;
    height: 24px;
}

.user-greeting {
    display: flex;
    align-items: center;
}

.profile {
    margin-right: 16px;
}

.profile img {
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting .user-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
}

.greeting .user-type {
    font-size: 12px;
}

.performance {
    width: 50%;
    padding: 12px;
}

.results {
    width: 20%;
    padding: 12px;
    margin-right: 1em;
}
.schedule {
    width: 30%;
    padding: 12px;
    margin-right: 1em;
    height: 100vh;
}

.stat-line {
    display: flex;
    flex-direction: column;
    width: 100vw;
}