.container-fluid.bg-primary{
  height: 100vh;
}


.col.col-1.one  {
  
}

.row.db-wrapper{
  height: 100vh;
}

.all-contact-cards{
  margin: 4px;
}

.contacts-card-body{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  margin: 8px;
}

.contact-card{
  margin: 4px;
}

.progress{
  margin: 8px;
  width: 100%;
}